.navbar-custom {
    background-image: linear-gradient(to right, #ED1C24 , #FF6B2C);
    /* height: 86px; */
}


:root {
    --start-color: #ED1C24; /* Define your start color here */
    --end-color: #FF6B2C; /* Define your end color here */
    --side-navbar-color: #ED1C24; /* Initial color for the side navbar */
 }

 .side-navbar {
    background: var(--side-navbar-color);
 }

@media screen and (min-width: 800px) {
    .navbar-custom {
        height: 6vw;
    }
}

.navbar-brand .navbar-text .nav-link{
    color: white !important;
}

.container-custom {
    background-color: #F1F6F6; 
    border-radius: 20px;
}

::placeholder {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #5E6B78;
    padding-left: 15px;
    
}

html, body {
    height: 100%;
    /* height: calc(100% - 35px); */
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.first-container {
    background-image: linear-gradient(to right, #ED1C24 , #FF6B2C);
}

input[id="cb1"] {
    display: inline;
    width: 14px;
    height: 14px;
    border: 2px solid #FF6B2C;
    border-radius: 2px;
  }

.side-nav-link.active {
    background: linear-gradient(to right, #FF6B2C, #FFFFFF);
    border-radius: 10px 0 0 10px;
}



/* Boxes */
.light-grey-box {
    background-color: #F1F6F6;
    border-radius: 20px;
}

.light-grey-box-shadow {
    background-color: #F1F6F6;
    border-radius: 20px;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.07), -1px 3px 2px 1px rgba(0, 0, 0, 0.07), 0px 3px 2px 1px rgba(0, 0, 0, 0.07);
}

.pink-box {
    background-color: #FFA8A8; 
    border-radius: 6px;
}

.light-pink-box {
    background-color: #FFF0EA;
    border-radius: 20px;
    border-color: #FFF0EA;
    box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);
}

.light-pink-box-without-shadow {
    background-color: #FFF0EA;
    border-radius: 20px;
    border-color: #FFF0EA;
}

.light-pink-box-border {
    background-color: #FFF0EA;
    border-radius: 20px;
    border: 3px solid #FF6B2C;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.light-pink-input-h60 {
    height: 60px; 
    border-radius: 6px; 
    background-color: #FFF4F4; 
    border: none;
}

.light-grey-button {
    background-color: #F1F6F6; 
    border-radius: 20px; 
    border: none;
}

.black-outlined-box {
    border-color: black; 
    border: 1px solid; 
    border-radius: 20px; 
    
}

.orange-button {
    background-color: #FD602C; 
    width: 100%; 
    border: none; 
    color: white; 
    border-radius: 6px;
}

.white-box {
    border-radius: 20px;
    background-color: white;
}

.white-input-box {
    border-radius: 6px;
    width: 100%; 
    border: none; 
    box-sizing: border-box;
    vertical-align: middle;
}



/* Text styles - Roboto */

.text-style-ro-14l {
    font-size: 14px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 16px;
    font-weight: 300;
}

.text-style-ro-14 {
    font-size: 14px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 16px;
}

.text-style-ro-16 {
    font-size: 16px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 19px;
}

.text-style-ro-16b {
    font-size: 16px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 19px;
    font-weight: 500;
}

.text-style-ro-18b {
    font-size: 1.3vw;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 24px;
    font-weight: 500;
}

.text-style-ro-18b-popover {
    font-size: 18px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 24px;
    font-weight: 500;
    font-variant: small-caps;
    text-align: center;
}

.text-style-ro-20b {
    font-size: 20px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 30px;
    font-weight: 700;
}

.text-style-ro-22b {
    font-size: 22px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 30px;
    font-weight: 700;
}

.text-style-ro-24b {
    font-size: 24px;
    font-family: 'Roboto';
    color: white;
    line-height: 30px;
    font-weight: 700;
}

.text-style-ro-26 {
    font-size: 26px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 35px;
}

.text-style-ro-29b {
    font-size: 29px;
    font-family: 'Roboto';
    color: white;
    line-height: 35px;
    font-weight: 700;
}

.text-style-ro-30b {
    font-size: 30px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 40px;
    font-weight: 700;
}

.text-style-ro-32 {
    font-size: 32px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 40px;
}

.text-style-ro-35b {
    font-size: 35px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 45px;
    font-weight: 500;
}

.text-style-ro-40b {
    font-size: 40px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 50px;
    font-weight: 500;
}

.text-style-ro-60b {
    font-size: 3.8vw;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 70px;
    font-weight: 500;
}

/* Text styles - Racing Sans One */

.text-style-rso-18 {
    font-size: 18px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 24px;
}

.text-style-rso-22 {
    font-size: 22px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 28px;
}

.text-style-rso-24 {
    font-size: 24px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 32px;
}

.text-style-rso-24-outlined {
    font-size: 24px;
    font-family: 'Racing Sans One';
    line-height: 31px;
    color: black;
    -webkit-text-stroke: 1px white;
}

.text-style-rso-25 {
    font-size: 25px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 30px;
}

.text-style-rso-30 {
    font-size: 30px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 39px;
}

.text-style-rso-32 {
    font-size: 32px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 40px;
}

.text-style-rso-36 {
    font-size: 36px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 47px;
}

.text-style-rso-40 {
    font-size: 40px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 58px;
}

.text-style-rso-45 {
    font-size: 45px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 60px;
}

.text-style-rso-55 {
    font-size: 55px;
    font-family: 'Racing Sans One';
    line-height: 65px;
}

.text-style-rso-60 {
    font-size: 60px;
    font-family: 'Racing Sans One';
    line-height: 70px;
}

.text-style-rso-65 {
    font-size: 65px;
    font-family: 'Racing Sans One';
    line-height: 85px;
}

/* Text styles - Quicksand */

.text-style-qs-16 {
    font-size: 16px;
    font-family: 'Quicksand';
    line-height: 20px;
}

/* Text styles - Lato */

.text-style-lato-24b {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-weight: 700;
}

/* Checkbox styling */
.my-custom-checkbox {
    /* -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none; */
    appearance:none;
	outline: none;
	content: none;	
    vertical-align: middle;
}

.my-custom-checkbox::before {
    font-size: 12px;
    color: transparent !important;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    content: '';
    outline: #FF6B2C;
    border: 2px solid #FF6B2C;
    text-align: center;
}

.my-custom-checkbox:checked:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 12px;
    line-height: 15px !important;
	color: #FF6B2C !important;
}

/* Blured background */

.blur {
    filter: blur(4px);
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
}

.pop-up-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

.pop-up-box .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000;
    opacity: 0;
    transition: opacity 1.3s;
  }

  .pop-up-box .pop-up-body {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
  }

  .pop-up-box .pop-up-body .pop-up-inner-body {
    background: #fff;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
  }

  .pop-up-box.pop-up-show {
    display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.9s;
  }

.pop-up-box.pop-up-show .overlay {
    opacity: 0.5;
  transition: opacity 1.3s;
  }

.pop-up-box.pop-up-show .pop-up-body {
    max-height: 1000px;
  opacity: 1;
  transition: 0.3s max-height 0.8s, 0.3s opacity 0.6s;
}

.detailed-experience:hover {
    cursor: pointer;
}


/* Popover */

.popover-header {
    font-size: 25px;
    font-family: 'Racing Sans One';
    text-align: center;
    background-color: white;     
}

/* .popover-body .text-style-ro-18b {
    font-variant: small-caps;
    text-align: center;
} */

.popover-body {
    height: 300px;
    overflow: scroll;
    overflow-x:hidden;
}

.custom-cart-popover {
    width: 400px;
  --bs-popover-max-width: 400px;
}


/* Remove colored box from the dropdown */
.dropdown, .dropdown, .dropdown-menu {
    outline: none;
    box-shadow: none;
}

.dropdown:focus, .dropdown:focus, .dropdown-menu:focus {
    outline: none;
    box-shadow: none;
}

.dropdown:active, .dropdown:active, .dropdown-menu:active {
    outline: none;
    box-shadow: none;
}

.dropdown-menu::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #FD602C !important;
    border-radius: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
}

.dropdown-item  {
    white-space: normal;
}

.search-dropdown {
    background-color: white; border-radius: 5px; 
    box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);
}

.search-dropdown-menu {
    box-shadow: 2px 1px 5px -1px rgba(0, 0, 0, 0.2), -2px 6px 5px -1px rgba(0, 0, 0, 0.2);
    border: none;
    width: 97%; 
    height:140px; 
    overflow:scroll; 
    overflow-x:hidden;
}

.search-dropdown-button {
    border: none; 
    background-color: transparent; 
    position: relative; 
    width: 100%;
}

.search-dropdown-icon {
    font-size: 1.5vw; 
    color: #FD612C; 
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}


/* Pagination */
.pagination .page-item .page-link {
    background-color: #FFF0EA;
    color: #FD612C;; 
    border-color: #FFF0EA;
}

.pagination .page-item.active .page-link {
    background-color: rgb(275, 225, 210); 
    border-color: rgb(275, 225, 210);
}

.pagination .page-item.disabled .page-link {
    background-color: #FFF0EA;
    border-color: #FFF0EA;
    color: rgb(253, 97, 44, 0.3);
}

.pagination .page-item .page-link:hover {
    background-color: rgb(265, 215, 200);
}





input[type="file"] {
    position: relative;
    cursor: grab;
    /* color:transparent; */
    /* font-size: 20px; */
  }
  
  input[type="file"]::file-selector-button {
    color: transparent;
    border: none;
    background-color: #F1F6F6;
    display: inline;
  }
  
  input[type="file"]::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    color: black;
    content: '\f0c6';
    font: var(--fa-font-regular);
    /* padding-left: 60px; */
  }

  input[type="file"]::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
  }

  

  


