.navbar-custom {
    background-image: linear-gradient(to right, #ED1C24 , #FF6B2C);
    height: 86px;
}

.navbar-brand .navbar-text .nav-link{
    color: white !important;
}

.container-custom {
    background-color: #F1F6F6; 
    border-radius: 20px;
}

::placeholder {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #5E6B78;
    padding-left: 15px;
    
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.first-container {
    background-image: linear-gradient(to right, #ED1C24 , #FF6B2C);
}

input[id="cb1"] {
    display: inline;
    width: 14px;
    height: 14px;
    border: 2px solid #FF6B2C;
    border-radius: 2px;
  }



/* Boxes */
.light-grey-box {
    background-color: #F1F6F6;
    border-radius: 20px;
}

.pink-box {
    background-color: #FFA8A8; 
    border-radius: 6px;
}

.light-pink-input-h60 {
    height: 60px; 
    border-radius: 6px; 
    background-color: #FFF4F4; 
    border: none;
}

.light-grey-button {
    background-color: #F1F6F6; 
    border-radius: 20px; 
    border: none;
}

.black-outlined-box {
    border-color: black; 
    border: 1px solid; 
    border-radius: 20px; 
    
}

.orange-button {
    background-color: #FF6B2C; 
    width: 100%; 
    border: none; 
    color: white; 
    border-radius: 6px;
}

.white-box {
    border-radius: 20px;
    background-color: white;
}

.white-input-box {
    border-radius: 6px;
    width: 100%; 
    border: none; 
    box-sizing: border-box;
    vertical-align: middle;
}



/* Text styles - Roboto */

.text-style-ro-14l {
    font-size: 14px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 16px;
    font-weight: 300;
}

.text-style-ro-14 {
    font-size: 14px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 16px;
}

.text-style-ro-16 {
    font-size: 16px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 19px;
}

.text-style-ro-16b {
    font-size: 16px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 19px;
    font-weight: 500;
}

.text-style-ro-18b {
    font-size: 18px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 24px;
    font-weight: 500;
}

.text-style-ro-22b {
    font-size: 22px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 30px;
    font-weight: 700;
}

.text-style-ro-35b {
    font-size: 35px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 45px;
    font-weight: 500;
}

/* Text styles - Racing Sans One */

.text-style-rso-18 {
    font-size: 18px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 24px;
}

.text-style-rso-22 {
    font-size: 22px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 28px;
}

.text-style-rso-24 {
    font-size: 24px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 32px;
}

.text-style-rso-24-outlined {
    font-size: 24px;
    font-family: 'Racing Sans One';
    line-height: 31px;
    color: black;
    -webkit-text-stroke: 1px white;
}

.text-style-rso-25 {
    font-size: 25px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 30px;
}

.text-style-rso-30 {
    font-size: 30px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 39px;
}

.text-style-rso-32 {
    font-size: 32px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 40px;
}

.text-style-rso-36 {
    font-size: 36px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 47px;
}

.text-style-rso-40 {
    font-size: 40px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 58px;
}

.text-style-rso-45 {
    font-size: 45px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 60px;
}

.text-style-rso-65 {
    font-size: 65px;
    font-family: 'Racing Sans One';
    line-height: 85px;
}

/* Text styles - Quicksand */

.text-style-qs-16 {
    font-size: 16px;
    font-family: 'Quicksand';
    line-height: 20px;
}

/* Checkbox styling */
.my-custom-checkbox {
    /* -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none; */
    appearance:none;
	outline: none;
	content: none;	
    vertical-align: middle;
}

.my-custom-checkbox::before {
    font-size: 12px;
    color: transparent !important;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    content: '';
    outline: #FF6B2C;
    border: 2px solid #FF6B2C;
    text-align: center;
}

.my-custom-checkbox:checked:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 12px;
    line-height: 15px !important;
	color: #FF6B2C !important;
}

/* Blured background */

.blur {
    filter: blur(2px);
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
}

.pop-up-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

.pop-up-box .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000;
    opacity: 0;
    transition: opacity 1.3s;
  }

  .pop-up-box .pop-up-body {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
  }

  .pop-up-box .pop-up-body .pop-up-inner-body {
    background: #fff;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
  }

  .pop-up-box.pop-up-show {
    display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.9s;
  }

.pop-up-box.pop-up-show .overlay {
    opacity: 0.5;
  transition: opacity 1.3s;
  }

.pop-up-box.pop-up-show .pop-up-body {
    max-height: 1000px;
  opacity: 1;
  transition: 0.3s max-height 0.8s, 0.3s opacity 0.6s;
}



/* input[type=checkbox] { display: none; }
input[type=checkbox] + label {
  padding-left: 30px;
  position: relative;
}

input[type=checkbox] + label::before {
  display: block;
  border: 1px solid #FF6B2C;
  left: 3px;
  top: 3px;
  height: 14px;
  width: 14px;
  content: "";
  position: absolute;
  line-height: 14px;
}

input[type=checkbox]:checked + label::before {
    content: "✓";
  } */

/* .my-custom-checkbox {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
    vertical-align: middle;
}

.my-custom-checkbox:before {
	font-family: "FontAwesome";
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    background: #F1F6F6;
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #FF6B2C;
    border-radius: 2px;
    margin-right: 7px;
    text-align: center;
}

.my-custom-checkbox:checked:before {
    font-family: "FontAwesome";
    content: "\f00c";
	color: #FF6B2C !important;
    text-align: center;
    
} */





input[type="file"] {
    position: relative;
    cursor: grab;
    /* color:transparent; */
    /* font-size: 20px; */
  }
  
  input[type="file"]::file-selector-button {
    color: transparent;
    border: none;
    background-color: #F1F6F6;
    display: inline;
  }
  
  input[type="file"]::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    color: black;
    content: '\f0c6';
    font: var(--fa-font-regular);
    /* padding-left: 60px; */
  }

  input[type="file"]::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
  }
  /* Faked label styles and icon */
  /* input[type="file"]::before {
    vertical-align: middle;
    content: '\f0c6';
    font: var(--fa-font-regular);
  } */
  
  /* input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
  } */
  
  /* ------- From Step 1 ------- */
  

  




/* .my-file-input::file-selector-button:hover {
    cursor: pointer;
    background-color: crimson;
    font-size: 1.2em;
    border-radius: 25%;
    box-shadow: inset 5px 10px 10px cornsilk;
 }
 .my-file-input::-webkit-file-upload-button:hover {
    cursor: pointer; 
    background-color: crimson;
    font-size: 1.2em;
    border-radius: 25%;
    box-shadow: inset 5px 10px 10px cornsilk;
 } */




/* 

.text-style-profile-medium {
    font-size: 30px;
    font-family: 'Racing Sans One';
    line-height: 38px;
}

.text-style-profile-big {
    font-size: 40px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 58px;
}
.text-style-small {
    font-size: 14px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 16px;
}

.text-style-small-light {
    font-size: 14px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 16px;
    font-weight: 300;
}

.text-style-middle {
    font-size: 16px;
    font-family: 'Roboto';
    color: #100F0E;
    line-height: 19px;
}

.text-style-big {
    font-size: 32px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 40px;
}

.text-style-big-2 {
    font-size: 36px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 47px;
}

.text-style-large-black {
    font-size: 65px;
    font-family: 'Racing Sans One';
    line-height: 85px;
}

.questions-box {
    background-color: #F1F6F6;
    border-radius: 20px;
}

.text-question-style {
    font-size: 40px;
    font-family: 'Racing Sans One';
    color: #100F0E;
    line-height: 58px;
}

.text-style-middle-2 {
    font-size: 22px;
    font-family: Racing Sans One;
    line-height: 28px;
    color: #100F0E;
    vertical-align: middle;
}

.text-style-middle-outlined {
    font-size: 24px;
    font-family: 'Racing Sans One';
    line-height: 31px;
    color: black;
    -webkit-text-stroke: 1px white;
}

.text-box-style {
    border-color: black; 
    border: 1px solid; 
    border-radius: 20px; 
    padding: 20px; 
    text-align: center;
    vertical-align: middle;
}

.button-box-style {
    border: none;
    background-color: #F1F6F6;
    border-radius: 20px;
    height: 136px;
}

.login-button-style {
    background-color: #FF6B2C; 
    width: 100%; 
    border: none; 
    color: white; 
    height: 48px; 
    border-radius: 6px;
}

.profile-rectangle {
    border-radius: 20px;
    background-color: white;
}

.input-box {
    border-radius: 6px;
    width: 100%; 
    height: 48px; 
    border: none; 
    box-sizing: border-box;
    vertical-align: middle;
}

.button-custom-style {
    background-color: #FF6B2C;
    border: none;
    color: white;
    height: 48px;
    border-radius: 6px;
    margin-bottom: 22px;

}

.button-profile {
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #FF6B2C;
    font-size: 25px;
    font-family: 'Racing Sans One';
}

.profile-rectangle-black {
    border-radius: 20px;
    border-color: black;
    border: 1px solid;
}

.login-button-style {
    background-color: #FF6B2C; 
    width: 100%; 
    border: none; 
    color: white; 
    height: 48px; 
    border-radius: 6px;
}

.text-style-large {
    font-size: 68px;
    font-family: 'Racing Sans One';
    line-height: 85px;
    color: white;
    text-align: center;

} */