{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://kit.fontawesome.com/b1a21454b8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/fonts/fontawesome-free-5.3.1-web/css/all.css">

        <link href='https://fonts.googleapis.com/css?family=Racing Sans One' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet"> 
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->



        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        
        <title>{% block title %}{% endblock %}</title>
            
        {% block script %}
        {% endblock %}

        <style>
          
        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark navbar-expand-sm navbar-custom" style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); position: fixed; width: 100%; z-index: 1000;">
                <div class="container-fluid px-5">
                    <a class="navbar-brand text-style-ro-24b" href="{% url 'home' %}">SHERLOOK</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if request.user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav d-flex" style="width: 100%;">
                            <li class="nav-item">
                                <a class="nav-link active ms-md-2 me-md-3" aria-current="page" id="shopping-cart-button" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="YOUR CART" data-popover-content="#popover-cart" data-html="true" data-bs-custom-class="custom-cart-popover">
                                <!-- <i class="fa-solid fa-cart-shopping" style="font-size: 1.5vw; color: white;"></i> -->
                                </a>
                            </li>
                            <li class="nav-item ms-sm-auto">
                                <a class="nav-link active ms-md-2 me-md-3" aria-current="page" id="profile-button" href="#" data-bs-toggle="popover" data-bs-placement="bottom" data-popover-content="#popover-profile" data-html="true">
                                    <i class="fa-regular fa-user navbar-icon" style=""></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active ms-md-3 me-md-3" aria-current="page" id="notification-button" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="NOTIFICATIONS" data-popover-content="#popover-notification" data-html="true">
                                    <i class="fa-regular fa-bell navbar-icon" style=""></i>
                                </a>
                            </li>
                        </ul>
                    </div>   

                    {% else %}
                    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                        <div class="text-style-ro-29b">SHERLOOK</div>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </header>

        

                <!-- Notification popover -->
        <div class="hidden" id="popover-profile" style="display: none; width: 500px;">
            <!-- <div class="popover-heading">
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'logout' %}" class="text-style-ro-14 my-2 text-center" style="color: #FD602C; text-decoration: none;">Log out</a>
                </div>
            </div> -->

            <div class="popover-body d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center px-4">
                    <a href="{% url 'logout' %}" class="text-style-ro-14 my-2 text-center" style="color: #FD602C; text-decoration: none;">Log out</a>
                </div>

            </div>
        </div>



        <div class="" style="min-height: 100vh; display: flex; flex-direction: column;">
            <div class="row" style="flex: 1; display: flex; width: 100%; margin: 0;">
                <div id="side-navbar" style="padding-right: 0; width: 15%; position: fixed; left: 0; bottom: 0px;  background-image: linear-gradient(to right, #ED1C24 , #F02825); box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);">
                    <div class="side-navbar-div">
                        <a class="side-nav-link nav-link text-center text-style-ro-30b py-1 {% if request.path == '/search/' %}active{% endif %}" href="{% url 'search' %}">SEARCH</a>
                        <a class="side-nav-link nav-link text-center text-style-ro-30b py-1 {% if request.path == '/library/' %}active{% endif %}" href="{% url 'library' %}">LIBRARY</a>
                        <a class="side-nav-link nav-link text-center text-style-ro-30b py-1 {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">DASHBOARD</a>
                        <a class="side-nav-link nav-link text-center text-style-ro-30b py-1 {% if request.path == '/info/' %}active{% endif %}" href="{% url 'info' %}">INFO</a>
                    </div>
                </div>
              <!-- <div class="d-flex justify-content-center" style="margin-left: -0.5%; padding-right: 0; width: 100%;">
                <div class="pl-0" style="margin-left: 15%; width: 85%; flex-grow: 1;"> -->
                <div class="content" style="">
                   
                    {% block body %}
            
                    {% endblock %}
                   
                </div> 
                <!-- </div>
              </div> -->
            </div>
        <footer id="footer" style="bottom: 0; width: 100%;">
            <nav class="navbar navbar-expand-sm footer-custom" style="">
                <div class="container-fluid px-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo02" style="color: white;">
                        <div class="d-flex navbar-nav align-items-center justify-content-between" style="width: 100%;">
                            <a class="nav-link active text-style-ro-22b" aria-current="page" href="#" style="color: white;">
                                WHO ARE WE?
                            </a>
                            <a class="nav-link active text-style-ro-22b" aria-current="page" href="#" style="color: white;">
                                CONTACT
                            </a>
                            <a class="nav-link active text-style-ro-22b" aria-current="page" href="#" style="color: white;">
                                FAQ
                            </a>
                            <a class="nav-link active text-style-ro-22b" aria-current="page" href="#" style="color: white;">
                                SHERLOOK APP
                            </a>
                            <div>
                                <img class="img-fluid" src="{% static 'images/croatian_flag.png' %}" style="height: 22px;">
                            </div>
                        </div>
                    
                    </div>
                </div>
            </nav>
        </footer>
    </div>
 
        <script>

        document.addEventListener("DOMContentLoaded", function() {

            let screen_width = window.innerWidth;
            let side_nav_links = document.querySelectorAll('.side-nav-link');

            if (screen_width >= 3000) {
                // Add additional padding to side nav links
                side_nav_links.forEach(side_nav_link => {
                    side_nav_link.classList.remove('py-1');
                    side_nav_link.classList.add('py-3');
                });
            };

            window.addEventListener('resize', () => {
                    let screen_width = window.innerWidth;

                    // Add additional padding to side nav links
                    side_nav_links.forEach(side_nav_link => {
                        if (screen_width >= 3000) {
                            side_nav_link.classList.remove('py-1');
                            side_nav_link.classList.add('py-3');
                        } else {
                            side_nav_link.classList.remove('py-3');
                            side_nav_link.classList.add('py-1');
                        }
                    });
                });

            var body = document.querySelector('.body');
        
            var notification_button = document.querySelector('#notification-button');
            notification_button.addEventListener('click', function() {
                if (body.classList.contains('blur')) {
                    body.classList.remove('blur');
                } else {
                    body.classList.add('blur');
                }
                
            })

            var shopping_cart_button = document.querySelector('#shopping-cart-button');
            shopping_cart_button.addEventListener('click', function() {
                if (body.classList.contains('blur')) {
                    body.classList.remove('blur');
                } else {
                    body.classList.add('blur');
                }
                
            })


            var elements = document.querySelectorAll("[data-bs-toggle=popover]");
            elements.forEach(function(element) {
                var popover = null;
                element.addEventListener("click", function() {
                if (popover) {
                    popover.dispose();
                    popover = null;
                } else {
                    var content = this.getAttribute("data-popover-content");
                    var popoverContent = document.querySelector(content);
                    var popoverBody = popoverContent.querySelector(".popover-body").innerHTML;
                    //var popoverHeading = popoverContent.querySelector(".popover-heading").innerHTML;

                    var popoverOptions = {
                    content: popoverBody,
                    //title: popoverHeading,
                    html: true,
                    sanitize: false,
                    };
                    popover = new bootstrap.Popover(this, popoverOptions);
                    popover.show();
                }
                });
            });

            // For the top distance of our side navbar while scrolling
            /*window.addEventListener('scroll', function() {
                var coloredDiv = document.getElementById('side-navbar');
                var topNavbarHeight = 80;
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                
                if (scrollTop < topNavbarHeight) {
                    coloredDiv.style.top = (topNavbarHeight - scrollTop) + 'px';
                } else {
                    coloredDiv.style.top = '0';
                }


                
            });*/

            
    

     
      
      
      


            });


 




  


        </script>
    </body>

</html>