{% extends "commons/layout.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Django CRM - Login{% endblock %}

{% block script %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            var all_data = document.querySelectorAll('.all-data');
            console.log(all_data);
            all_data.forEach(function(each_row) {
                each_row.addEventListener('click', event => {
                    const dropdown_icon = each_row.querySelector('.dropdown-icon');
                    console.log(event.target);
                    const dropdown_div = each_row.querySelector('.dropdown-div');
                    if (event.target === dropdown_icon) {
                        if (dropdown_div.style.visibility === 'hidden') {
                            dropdown_div.style.visibility = 'visible';
                            dropdown_div.style.display = 'block';
                        } else {
                            dropdown_div.style.visibility = 'hidden';
                            dropdown_div.style.display = 'none';
                        }   
                    }
                })
            })

            // Function to apply the class based on the screen width
        function applyClassBasedOnScreenWidth() {
            var isLargeScreen = window.innerWidth > 1200;

            // Find all span elements with the class dropdown-main-text
            var dropdownMainTexts = document.querySelectorAll('.dropdown-main-text');

            // Use the variable to dynamically change the class for each span
            //dropdownMainTexts.forEach(function (mainText) {
                //mainText.className = isLargeScreen ? 'text-style-ro-24b' : 'text-style-ro-20b';
                //mainText.classList.toggle('text-style-ro-24b', isLargeScreen);
                //mainText.classList.toggle('text-style-ro-20b', !isLargeScreen);
            //});
        }

        // Call the function initially to set the class on page load
        //applyClassBasedOnScreenWidth();

        // Call the function when the window is resized
        //window.addEventListener('resize', applyClassBasedOnScreenWidth);
        })
    </script>

{% endblock %}


{% block body %}
<div class="d-flex align-items-center justify-content-center px-md-4" id="library-body">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div>
                    <div class="text-style-lato-24b d-flex px-3 py-2" style="background-image: linear-gradient(to right, #ED1C24 , #FF6B2C); border-radius: 10px; color: white;">
                        <span>SAVED | 23</span> 
                        <span class="ps-4">|  BOUGHT | 6</span>
                    </div>
                </div>
                <!-- <div class="text-style-ro-60b pb-0 mb-0">LIBRARY</div> -->
                <!-- <div class="">
                    <form>
                        <label class="text-style-ro-24b me-2" style="color: #100F0E !important;">SEARCH</label>
                        <input type="text" style="border: 1px solid black; border-radius: 6px; font-size: 24px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.25), -2px 5px 5px -1px rgba(0, 0, 0, 0.25);">
                    </form>
                </div> -->
            </div>
        </div>
        <div class="light-pink-box mt-5 px-5 pb-4" style="box-shadow: none; margin-bottom: 100px;">
            <div class="row pt-4">
                <div class="d-flex">
                    <div class="col-lg-2 col-md-2 text-center text-style-ro-24b" style="color: #100F0E;">
                        <div class="dropdown">
                            <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                                <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">POSITION</span>
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                            </button> 
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">Mechanical Eng.</li>
                                <li class="dropdown-item">Electrical Eng.</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 text-center text-style-ro-24b" style="color: #100F0E;">
                        <div class="dropdown">
                            <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                                <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">SPECIALIZATION</span>
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                            </button> 
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">Fluid Dynamics</li>
                                <li class="dropdown-item">Mechatronics</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 text-center text-style-ro-24b" style="color: #100F0E;">
                        <div class="dropdown">
                            <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                                <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">COUNTRY</span>
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                            </button> 
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">Germany</li>
                                <li class="dropdown-item">Croatia</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 text-center text-style-ro-24b" style="color: #100F0E;">
                        <div class="dropdown">
                            <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                                <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">SFS</span>
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                            </button> 
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">23</li>
                                <li class="dropdown-item">24</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 text-center text-style-ro-24b" style="color: #100F0E;">
                        <div class="dropdown">
                            <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                                <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">CONNECT</span>
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                            </button> 
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">23</li>
                                <li class="dropdown-item">24</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 pe-4 text-center text-style-ro-24b" style="color: #100F0E;">
                        <div class="dropdown">
                            <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                                <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">STATUS</span>
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                            </button> 
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">Bought</li>
                                <li class="dropdown-item">Saved</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2" style="margin-left: -20px; margin-right: -20px;">
                <div style="box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);">
                    <div style="height: 2px; background-color: #FD612C;"></div>
                </div>
            </div>
            <div class="all-data">
                <div class="row mt-3" style="background-color: white; border-radius: 6px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.1), -2px 5px 5px -1px rgba(0, 0, 0, 0.1);">
                    <div class="d-flex py-2 align-items-center">
                        <div class="col-2 text-center text-style-ro-18b">Mechanical Eng.</div>
                        <div class="col-3 text-center text-style-ro-18b pe-4">Fluid Dynamics</div>
                        <div class="col-2 text-center text-style-ro-18b pe-4">Germany</div>
                        <div class="col-1 text-center text-style-ro-18b pe-4" style="color: #FD612C;">23</div>
                        <div class="col-2 text-center pe-4">
                            <button class="connect-button" style="border: none; background-color: transparent;">
                                <i class="fa-regular fa-square" style="color: #FD612C;"></i>
                            </button>
                        </div>
                        <div class="col-2 text-center text-style-ro-18b">
                            <span class="ps-xl-4 ps-lg-3 ps-md-3">Bought</span>
                            <button class="dropdown-button ps-xl-5 ps-lg-5 ps-md-4" style="border: none; background-color: transparent;">
                                <i class="fa-solid fa-chevron-down dropdown-icon" style="color: #FD612C;"></i>
                            </button>  
                        </div>
                    </div>
                </div>

                <!-- Dropdown data -->
                <div class="dropdown-div col-lg-11 container-fluid justify-content-center px-4 pt-4 pb-3" style="visibility: hidden; display: none; background: #fff; border-radius: 6px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.1), -2px 5px 5px -1px rgba(0, 0, 0, 0.1);">
                    <div class="row">
                        <div class="d-flex">
                            <div class="col-lg-2">
                                <div class="text-style-ro-20b">NAME</div>
                                <div class="text-style-ro-20b">SURNAME</div>
                                <div class="text-style-ro-20b mt-4">UNIVERSITY</div>
                                <div class="text-style-ro-20b">UNIVERSITY 2</div>
                                <div class="text-style-ro-20b mt-4">MORE INFO 1</div>
                                <div class="text-style-ro-20b">MORE INFO 2</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-style-ro-20b" style="filter: blur(4px);">Name</div>
                                <div class="text-style-ro-20b" style="filter: blur(4px);">Surname</div>
                                <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">University</div>
                                <div class="text-style-ro-20b" style="filter: blur(4px);">University 2</div>
                                <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">More info 1</div>
                                <div class="text-style-ro-20b" style="filter: blur(4px);">More info 2</div>
                            </div>
        
                            <div class="col-lg-5 pe-5">
                                <div class="text-style-ro-20b">RELEVANT EXPERIENCE</div>
                                <div>
                                    <ul class="text-style-ro-16 ps-3">
                                        <li>Hybrid Design – Combination of Monocoque and Steel Frame</li>
                                        <li>CFRP Monocoque (Prepreg + Autoclave), Aluminium Honeycomb</li>
                                        <li>8 mm Lower Centre of Gravity</li>
                                        <li>Ergonomic Design</li>
                                        <li>Powertrain in CRMo Space Frame</li>
                                        <li>High Chassis Stifness and Maintenance – Heavy Design</li>
                                    </ul>
                                </div>
                                <div>
                                    <a class="text-style-ro-16" style="color: #FF6B2C; font-weight: 700;">DETAILED EXPERIENCE AND COMPETENCES</a>
                                </div>
                            </div>
        
                            <div class="col-lg-2 text-center">
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS ALPE ADRIA</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS AUSTRIA</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS EAST</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS GERMANY</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS INDIA</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <button class="orange-button text-style-ro-24b mt-4" style="font-weight: 500;">CONNECT</button>
                                <button class="text-style-ro-14 mt-4" style="color: #FD602C; border: none; background-color: transparent;">Remove From Library</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-data">
                <div class="row mt-3" style="background-color: white; border-radius: 6px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.1), -2px 5px 5px -1px rgba(0, 0, 0, 0.1);">
                    <div class="d-flex py-2">
                        <div class="col-lg-2 text-center text-style-ro-18b">Electrical Eng.</div>
                        <div class="col-lg-3 text-center text-style-ro-18b pe-4">Fluid Dynamics</div>
                        <div class="col-lg-2 text-center text-style-ro-18b pe-4">Croatia</div>
                        <div class="col-lg-1 text-center text-style-ro-18b pe-4" style="color: #FD612C;">23</div>
                        <div class="col-lg-2 text-center pe-4">
                            <button class="connect-button" style="border: none; background-color: transparent;">
                                <i class="fa-regular fa-square" style="color: #FD612C;"></i>
                            </button>
                        </div>
                        <div class="col-lg-2 ps-3 text-center text-style-ro-18b">
                            <span class="ps-3">Saved</span>
                            <button class="dropdown-button ms-5" style="border: none; background-color: transparent;">
                                <i class="fa-solid fa-chevron-down dropdown-icon pe-2" style="color: #FD612C;"></i>
                            </button>  
                        </div>
                    </div>
                </div>
    
    
                <!-- Dropdown data -->
                <div class="dropdown-div col-lg-11 container-fluid justify-content-center px-4 py-3" style="visibility: hidden; display: none; background: #fff; border-radius: 6px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.1), -2px 5px 5px -1px rgba(0, 0, 0, 0.1);">
                    <div class="row">
                        <div class="d-flex">
                            <div class="col-lg-2">
                                <div class="text-style-ro-20b">NAME</div>
                                <div class="text-style-ro-20b">SURNAME</div>
                                <div class="text-style-ro-20b mt-3">UNIVERSITY</div>
                                <div class="text-style-ro-20b">UNIVERSITY 2</div>
                                <div class="text-style-ro-20b mt-3">MORE INFO 1</div>
                                <div class="text-style-ro-20b">MORE INFO 2</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-style-ro-20b" style="filter: blur(4px);">Name</div>
                                <div class="text-style-ro-20b" style="filter: blur(4px);">Surname</div>
                                <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">University</div>
                                <div class="text-style-ro-20b" style="filter: blur(4px);">University 2</div>
                                <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">More info 1</div>
                                <div class="text-style-ro-20b" style="filter: blur(4px);">More info 2</div>
                            </div>
            
                            <div class="col-lg-5">
                                <div class="text-style-ro-20b">RELEVANT EXPERIENCE</div>
                                <div>
                                    <ul class="text-style-ro-16 ps-3">
                                        <li>Hybrid Design – Combination of Monocoque and Steel Frame</li>
                                        <li>CFRP Monocoque (Prepreg + Autoclave), Aluminium Honeycomb</li>
                                        <li>8 mm Lower Centre of Gravity</li>
                                        <li>Ergonomic Design</li>
                                        <li>Powertrain in CRMo Space Frame</li>
                                        <li>High Chassis Stifness and Maintenance – Heavy Design</li>
                                    </ul>
                                </div>
                                <div>
                                    <a class="text-style-ro-16" style="color: #FF6B2C; font-weight: 700;">DETAILED EXPERIENCE AND COMPETENCES</a>
                                </div>
                            </div>
            
                            <div class="col-lg-2">
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS ALPE ADRIA</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS AUSTRIA</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS EAST</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS GERMANY</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-between align-middle">
                                        <div class="text-style-qs-16" style="line-height: 28px;">FS INDIA</div>
                                        <div>
                                            <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                        </div>
                                    </div>
                                </div>
                                <button class="orange-button text-style-ro-24b mt-4" style="font-weight: 500;">CONNECT</button>
                                <div class="text-style-ro-14 mt-3 text-center" style="color: #FD602C;">Remove From Library</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pop-up-box container-fluid justify-content-center">
    <div class="overlay row d-flex"></div>
    <div class="pop-up-body col-lg-8">
        <div class="pop-up-inner-body">
            <div class="row">
                <div class="d-flex">
                    <div class="col-lg-2">
                        <div class="text-style-ro-20b">NAME</div>
                        <div class="text-style-ro-20b">SURNAME</div>
                        <div class="text-style-ro-20b mt-3">UNIVERSITY</div>
                        <div class="text-style-ro-20b">UNIVERSITY 2</div>
                        <div class="text-style-ro-20b mt-3">MORE INFO 1</div>
                        <div class="text-style-ro-20b">MORE INFO 2</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-style-ro-20b" style="filter: blur(4px);">Name</div>
                        <div class="text-style-ro-20b" style="filter: blur(4px);">Surname</div>
                        <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">University</div>
                        <div class="text-style-ro-20b" style="filter: blur(4px);">University 2</div>
                        <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">More info 1</div>
                        <div class="text-style-ro-20b" style="filter: blur(4px);">More info 2</div>
                    </div>

                    <div class="col-lg-5">
                        <div class="text-style-ro-20b">RELEVANT EXPERIENCE</div>
                        <div>
                            <ul class="text-style-ro-16 ps-3">
                                <li>Hybrid Design – Combination of Monocoque and Steel Frame</li>
                                <li>CFRP Monocoque (Prepreg + Autoclave), Aluminium Honeycomb</li>
                                <li>8 mm Lower Centre of Gravity</li>
                                <li>Ergonomic Design</li>
                                <li>Powertrain in CRMo Space Frame</li>
                                <li>High Chassis Stifness and Maintenance – Heavy Design</li>
                            </ul>
                        </div>
                        <div>
                            <a class="text-style-ro-16" style="color: #FF6B2C; font-weight: 700;">DETAILED EXPERIENCE AND COMPETENCES</a>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS ALPE ADRIA</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS AUSTRIA</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS EAST</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS GERMANY</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS INDIA</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <button class="orange-button text-style-ro-24b mt-4" style="font-weight: 500;">CONNECT</button>
                        <div class="text-style-ro-14 mt-3 text-center" style="color: #FD602C;">Remove From Library</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pop-up-detail col-lg-9 container-fluid justify-content-center" style="position: absolute; display: none; background: #fff; padding: 25px; box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);">
            <div class="row">
                <div class="d-flex">
                    <div class="col-lg-2">
                        <div class="text-style-ro-20b">NAME</div>
                        <div class="text-style-ro-20b">SURNAME</div>
                        <div class="text-style-ro-20b mt-3">UNIVERSITY</div>
                        <div class="text-style-ro-20b">UNIVERSITY 2</div>
                        <div class="text-style-ro-20b mt-3">MORE INFO 1</div>
                        <div class="text-style-ro-20b">MORE INFO 2</div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-style-ro-20b" style="filter: blur(4px);">Name</div>
                        <div class="text-style-ro-20b" style="filter: blur(4px);">Surname</div>
                        <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">University</div>
                        <div class="text-style-ro-20b" style="filter: blur(4px);">University 2</div>
                        <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">More info 1</div>
                        <div class="text-style-ro-20b" style="filter: blur(4px);">More info 2</div>
                    </div>

                    <div class="col-lg-5">
                        <div class="text-style-ro-20b">RELEVANT EXPERIENCE</div>
                        <div>
                            <ul class="text-style-ro-16 ps-3">
                                <li>Hybrid Design – Combination of Monocoque and Steel Frame</li>
                                <li>CFRP Monocoque (Prepreg + Autoclave), Aluminium Honeycomb</li>
                                <li>8 mm Lower Centre of Gravity</li>
                                <li>Ergonomic Design</li>
                                <li>Powertrain in CRMo Space Frame</li>
                                <li>High Chassis Stifness and Maintenance – Heavy Design</li>
                            </ul>
                        </div>
                        <div>
                            <a class="text-style-ro-16" style="color: #FF6B2C; font-weight: 700;">DETAILED EXPERIENCE AND COMPETENCES</a>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS ALPE ADRIA</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS AUSTRIA</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS EAST</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS GERMANY</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-between align-middle">
                                <div class="text-style-qs-16" style="line-height: 28px;">FS INDIA</div>
                                <div>
                                    <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                </div>
                            </div>
                        </div>
                        <button class="orange-button text-style-ro-24b mt-4" style="font-weight: 500;">CONNECT</button>
                        <div class="text-style-ro-14 mt-3 text-center" style="color: #FD602C;">Remove From Library</div>
                    </div>
                </div>
        </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
{% endblock %}
