{% extends "commons/layout.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Django CRM - Login{% endblock %}



{% block body %}
<div class="d-flex container-fluid align-items-center justify-content-center" style="flex-grow: 1;">
    <div class="col d-flex justify-content-center align-items-center row" style="vertical-align: middle;">
        <div class="container-custom card col-lg-5 col-md-10 col-sm-12">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-sm-10">
                    <div class="card-body" style="width: 100%; padding-top: 56px; padding-bottom: 22px;">
                        <h5 class="card-title text-style-big" style="margin-bottom: 10px;">Welcome back!</h5>
                        <p class="text-style-middle card-text" style="margin-bottom: 33px;">Don't have an account?<a
                                style="color: #FF6B2C; padding-left: 10px;">Sign-up</a></p>
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.field.widget.input_type != 'checkbox' %}    
                                <label class="text-style-small-light" style="margin-bottom: 8px;">{{field.label}}</label>
                                {{ field }}
                                
                                {% elif field.field.widget.input_type == 'checkbox' %}
                                    {{ field }}<label class="text-style-small" style="margin-left: 10px;">{{field.label}}</label>
                                {% endif %}
                            {% endfor %}
                            
                            <button type="submit" class="login-button-style"
                                    style="margin-bottom: 22px; margin-top: 34px;">
                                <i class="fa-solid fa-arrow-right-to-bracket" style="padding-right: 19px;"></i>
                                Log-in
                            </button>
                        </form>
                        <hr style="color: #5E6B78;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
{% endblock %}
