{% extends "commons/layout.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Django CRM - Search{% endblock %}
{% block script %}

    <script src="{% static 'search.js' %}"></script>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
    
        var connect_buttons = document.querySelectorAll('.connect-button');
        console.log(connect_buttons);
        connect_buttons.forEach(function(button) {
            button.addEventListener('click', event => {
                document.querySelector('.search-body').classList.add('blur');
                document.querySelector('.pop-up-box').classList.add('pop-up-show');
            })
        })
    
    })
    </script> -->
{% endblock %}
{% block body %}
<div class="col-12 px-4 py-5 col container-fluid" style="width: 100%;">
    <div class="light-pink-box" style="height: 100%;">
        <div class="col">
            <div class="d-flex justify-content-between pt-5 col-12">
                <div class="text-center col-4" style="">
                    <div class="text-style-ro-24b" style="color: black;">
                        POSITION
                    </div>
                    <div class="dropdown mt-4 mx-5 py-2" style="background-color: white; border-radius: 5px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);">
                        <button class="dropdown d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent; position: relative; width: 100%;">
                            <span class="text-style-ro-16 dropdown-main-text px-2" style="color: #5E6B78;">Eg. Mechanical Eng.</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon px-2" style="font-size: 1.5vw; color: #FD612C;"></i>
                        </button> 
                        <ul class="dropdown-menu ms-1 me-1 mt-1" style="width: 97%;">
                            {% for pos in position %}
                            <li class="dropdown-item text-style-ro-16">{{ pos }}</li>
                            <!-- <li class="dropdown-item text-style-ro-16">Electrical Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Mechatronics Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Economist & Business</li> -->
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="text-center col-4" style="">
                    <div class="text-style-ro-24b" style="color: black;">
                        SPECIALIZATION
                    </div>
                    <div class="dropdown mt-4 mx-5 py-2" style="background-color: white; border-radius: 5px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);">
                        <button class="dropdown d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent; position: relative; width: 100%;">
                            <span class="text-style-ro-16 dropdown-main-text px-2" style="color: #5E6B78;">Eg. Aerodynamics</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon px-2" style="font-size: 1.5vw; color: #FD612C;"></i>
                        </button> 
                        <ul class="dropdown-menu ms-1 me-1 mt-1" style="width: 97%;">
                            {% for pos in specializations %}
                            <li class="dropdown-item text-style-ro-16">{{ pos }}</li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="text-center col-4" style="">
                    <div class="text-style-ro-24b" style="color: black;">
                        EXPERIENCE
                    </div>
                    <div class="dropdown mt-4 mx-5 py-2" style="background-color: white; border-radius: 5px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);">
                        <button class="dropdown d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent; position: relative; width: 100%;">
                            <span class="text-style-ro-16 dropdown-main-text px-2" style="color: #5E6B78;">Eg. Level 3</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon px-2" style="font-size: 1.5vw; color: #FD612C;"></i>
                        </button> 
                        <ul class="dropdown-menu ms-1 me-1 mt-1" style="width: 97%;">
                            <li class="dropdown-item text-style-ro-16">Mechanical Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Electrical Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Mechatronics Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Economist & Business</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex pt-5 col-12">
                <div class="text-center col-4" style="">
                    <div class="text-style-ro-24b" style="color: black;">
                        COUNTRY
                    </div>
                    <div class="dropdown mt-4 mx-5 py-2" style="background-color: white; border-radius: 5px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);">
                        <button class="dropdown d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent; position: relative; width: 100%;">
                            <span class="text-style-ro-16 dropdown-main-text px-2" style="color: #5E6B78;">Eg. Germany</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon px-2" style="font-size: 1.5vw; color: #FD612C;"></i>
                        </button> 
                        <ul class="dropdown-menu ms-1 me-1 mt-1" style="width: 97%;">
                            {% for con in country %}
                            <li class="dropdown-item text-style-ro-16">{{ con }}</li>
                            <!-- <li class="dropdown-item text-style-ro-16">Electrical Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Mechatronics Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Economist & Business</li> -->
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="text-center col-4" style="">
                    <div class="text-style-ro-24b" style="color: black;">
                        RATING
                    </div>
                    <div class="dropdown mt-4 mx-5 py-2" style="background-color: white; border-radius: 5px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.2), -2px 5px 5px -1px rgba(0, 0, 0, 0.2);">
                        <button class="dropdown d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent; position: relative; width: 100%;">
                            <span class="text-style-ro-16 dropdown-main-text px-2" style="color: #5E6B78;">Eg. 70-80</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon px-2" style="font-size: 1.5vw; color: #FD612C;"></i>
                        </button> 
                        <ul class="dropdown-menu ms-1 me-1 mt-1" style="width: 97%;">
                            <li class="dropdown-item text-style-ro-16">Mechanical Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Electrical Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Mechatronics Engineer</li>
                            <li class="dropdown-item text-style-ro-16">Economist & Business</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex col-12 justify-content-end mt-5 px-5 mb-5 align-items-center">
                <div class="col-2 text-center">
                    <button class="orange-button text-style-ro-24b py-3">
                        SEARCH
                    </button>
                </div>
                <div class="text-center">
                    <button style="background-color: transparent; border: none; margin-left: -15px;">
                        <i class="fa-solid fa-circle-chevron-right fa-3x" style="color: #FD602C;"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="light-pink-box mt-5 px-5 pb-4" style="box-shadow: none; margin-bottom: 100px;">
        <div class="row pt-4">
            <div class="d-flex mb-2">
                <div class="col-lg-2 col-md-2 text-center text-style-ro-24b" style="color: #100F0E;">
                   POSITION
                    <!-- <div class="dropdown">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                            <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">POSITION</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                        </button> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Mechanical Eng.</li>
                            <li class="dropdown-item">Electrical Eng.</li>
                        </ul>
                    </div> -->
                </div>
                
                <div class="col-lg-3 col-md-3 text-center text-style-ro-24b" style="color: #100F0E;">
                    SPECIALIZATION
                    <!-- <div class="dropdown">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                            <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">SPECIALIZATION</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                        </button> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Fluid Dynamics</li>
                            <li class="dropdown-item">Mechatronics</li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-lg-2 col-md-2 text-center text-style-ro-24b" style="color: #100F0E;">
                    COUNTRY
                    <!-- <div class="dropdown">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                            <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">COUNTRY</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                        </button> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Germany</li>
                            <li class="dropdown-item">Croatia</li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-lg-1 col-md-1 text-center text-style-ro-24b" style="color: #100F0E;">
                    SFS
                    <!-- <div class="dropdown">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                            <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">SFS</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                        </button> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">23</li>
                            <li class="dropdown-item">24</li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-lg-2 col-md-2 text-center text-style-ro-24b" style="color: #100F0E;">
                    CONNECT
                    <!-- <div class="dropdown">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                            <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">CONNECT</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                        </button> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">23</li>
                            <li class="dropdown-item">24</li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-lg-2 col-md-2 pe-4 text-center text-style-ro-24b" style="color: #100F0E;">
                    STATUS
                    <!-- <div class="dropdown">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
                            <span class="text-style-ro-24b dropdown-main-text" style="color: #100F0E;">STATUS</span>
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="font-size: 1.5vw;"></i>
                        </button> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">Bought</li>
                            <li class="dropdown-item">Saved</li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="mt-2" style="margin-left: -20px; margin-right: -20px;">
            <div style="box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);">
                <div style="height: 2px; background-color: #FD612C;"></div>
            </div>
        </div>
        {% for student in students %}
        <div class="all-data">
            
            <div class="row mt-3" style="background-color: white; border-radius: 6px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.1), -2px 5px 5px -1px rgba(0, 0, 0, 0.1);">
                <div class="d-flex pt-2 pb-1 align-items-center">
                    <div class="col-2 text-center text-style-ro-18b">{{ student.position }}</div>
                    <div class="col-3 text-center text-style-ro-18b pe-4">{{ student.specialization }}</div>
                    <div class="col-2 text-center text-style-ro-18b pe-4">{{ student.country }}</div>
                    <div class="col-1 text-center text-style-ro-18b pe-4" style="color: #FD612C;">23</div>
                    <div class="col-2 text-center pe-4">
                        <button class="connect-button" style="border: none; background-color: transparent;">
                            <i class="fa-regular fa-square" style="color: #FD612C;"></i>
                        </button>
                    </div>
                    <div class="col-2 text-center text-style-ro-18b">
                        <span class="ps-xl-4 ps-lg-3 ps-md-3">Bought</span>
                        <button class="dropdown-button ps-xl-5 ps-lg-5 ps-md-4" style="border: none; background-color: transparent;">
                            <i class="fa-solid fa-chevron-down dropdown-icon" style="color: #FD612C;"></i>
                        </button>  
                    </div>
                </div>
                <div class="ms-2" style="height: 2px; background-color: #100F0E; opacity: 0.1; margin-left: 5px; width: 98%;"></div>
                <div class="d-flex justify-content-between mt-2 mb-2">
                    <div>
                        <span class="ext-style-ro-16b" style="color: #FD602C !important;">Experience</span>
                        <span class="ext-style-ro-16b">| Monocoque Construction</span>
                        <span class="ext-style-ro-16b">| Carbon Fibre Layup</span>
                        <span class="ext-style-ro-16b">| Material Testing</span>
                    </div>
                    <div>
                        <span class="ext-style-ro-16b">Quick Learner |</span>
                        <span class="ext-style-ro-16b">Detaik-Oriented |</span>
                        <span class="ext-style-ro-16b">Hard Working |</span>
                        <span class="ext-style-ro-16b" style="color: #FD602C !important;">Personality</span>
                    </div>
                </div>
            </div>
            

            <!-- Dropdown data -->
            <div class="dropdown-div col-lg-11 container-fluid justify-content-center px-4 pt-4 pb-3" style="visibility: hidden; display: none; background: #fff; border-radius: 6px; box-shadow: 2px 5px 5px -1px rgba(0, 0, 0, 0.1), -2px 5px 5px -1px rgba(0, 0, 0, 0.1); margin-top: 0.015em;">
                <div class="row">
                    <div class="d-flex">
                        <div class="col-lg-2">
                            <div class="text-style-ro-20b">NAME</div>
                            <div class="text-style-ro-20b">SURNAME</div>
                            <div class="text-style-ro-20b mt-4">UNIVERSITY</div>
                            <div class="text-style-ro-20b">UNIVERSITY 2</div>
                            <div class="text-style-ro-20b mt-4">MORE INFO 1</div>
                            <div class="text-style-ro-20b">MORE INFO 2</div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-style-ro-20b" style="filter: blur(4px);">Name</div>
                            <div class="text-style-ro-20b" style="filter: blur(4px);">Surname</div>
                            <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">University</div>
                            <div class="text-style-ro-20b" style="filter: blur(4px);">University 2</div>
                            <div class="text-style-ro-20b mt-3" style="filter: blur(4px);">More info 1</div>
                            <div class="text-style-ro-20b" style="filter: blur(4px);">More info 2</div>
                        </div>
    
                        <div class="col-lg-5 pe-5">
                            <div class="text-style-ro-20b">RELEVANT EXPERIENCE</div>
                            <div>
                                <ul class="text-style-ro-16 ps-3">
                                    <li>Hybrid Design – Combination of Monocoque and Steel Frame</li>
                                    <li>CFRP Monocoque (Prepreg + Autoclave), Aluminium Honeycomb</li>
                                    <li>8 mm Lower Centre of Gravity</li>
                                    <li>Ergonomic Design</li>
                                    <li>Powertrain in CRMo Space Frame</li>
                                    <li>High Chassis Stifness and Maintenance – Heavy Design</li>
                                </ul>
                            </div>
                            <div>
                                <a class="text-style-ro-16" style="color: #FF6B2C; font-weight: 700;">DETAILED EXPERIENCE AND COMPETENCES</a>
                            </div>
                        </div>
    
                        <div class="col-lg-2 text-center">
                            <div class="row">
                                <div class="d-flex justify-content-between align-middle">
                                    <div class="text-style-qs-16" style="line-height: 28px;">FS ALPE ADRIA</div>
                                    <div>
                                        <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-middle">
                                    <div class="text-style-qs-16" style="line-height: 28px;">FS AUSTRIA</div>
                                    <div>
                                        <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-middle">
                                    <div class="text-style-qs-16" style="line-height: 28px;">FS EAST</div>
                                    <div>
                                        <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-middle">
                                    <div class="text-style-qs-16" style="line-height: 28px;">FS GERMANY</div>
                                    <div>
                                        <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-middle">
                                    <div class="text-style-qs-16" style="line-height: 28px;">FS INDIA</div>
                                    <div>
                                        <span style="font-size: 12px!important; line-height: 28px;">&#x2705</span>
                                    </div>
                                </div>
                            </div>
                            <button class="orange-button text-style-ro-24b mt-4" style="font-weight: 500;">CONNECT</button>
                            <button class="text-style-ro-14 mt-4" style="color: #FD602C; border: none; background-color: transparent;">Remove From Library</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    
</div>



<!-- Old design code -->
<!--
<div class="body col container-fluid justify-content-center px-5" id="search-body">
    <div class="row d-flex justify-content-center mt-4 pb-4">
        <div class="col-lg-3">
            <div class="col ms-2">
                <div class="col-lg-6 ms-5">
                    <img class="img-fluid" src="{% static 'images/scherlok.jpeg' %}">
                </div>
            </div>
            <div>
                <div class="pink-box p-4 mt-4">
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <span class="text-style-ro-18b">Filters:</span>
                            <span class="text-style-ro-18b" style="color: #4484FF;">Save View</span>
                        </div>
                    </div>
                    <form>
                        <input class="mt-2" placeholder="Search" style="border: none; width: 100%; height: 37px;">
                        <div class="mt-4" style="height:600px; overflow:scroll; overflow-x:hidden;">
                            <div class="text-style-rso-18 mb-2">POSITION</div>
                            {% for pos in position %}
                                <div>
                                <input class="align-middle me-3 my-2" type="checkbox" name="position_{{pos}}")><span class="align-middle text-style-ro-18b">{{ pos }}</span>
                                </div>
                            {% endfor %}
                            <div class="text-style-rso-18 mb-2">SPECIALIZATION</div>
                            <div class="text-style-rso-18 mb-2">COUNTRY</div>
                            {% for one_country in country %}
                                <div>
                                <input class="align-middle me-3 my-2" type="checkbox" name="country_{{one_country}}"><span class="align-middle text-style-ro-18b">{{ one_country }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-center mt-4">
                            <button class="text-style-rso-22 px-4 py-3" style="border: none; border-radius: 20px; background-color: #F1F6F6;">SEARCH</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-9 mt-5">
            <div class="text-style-rso-30 ps-5">
                <span class="px-3 py-3" style="background-color: #FFA8A8; border-top-right-radius: 20px; border-top-left-radius: 20px;">SEARCH HERE</span>
                
            </div>
            <div class="light-grey-box mt-3 pt-3 ps-3 pe-3" style="width: 100%; border: 1px solid #FFA8A8;">
                <div class="row ms-2 me-2">
                    <div class="d-flex justify-content-between">
                        <div class="col-lg-2 text-style-rso-24" style="font-size: 22px;">POSITION</div>
                        <div class="col-lg-3 text-style-rso-24 text-center" style="font-size: 22px;">SPECIALIZATION</div>
                        <div class="col-lg-2 text-style-rso-24 text-center" style="font-size: 22px;">COUNTRY</div>
                        <div class="col-lg-2 text-style-rso-24 text-center" style="font-size: 22px;">AGE</div>
                        <div class="col-lg-2 text-style-rso-24 text-center pe-4" style="font-size: 22px;">CONNECT</div>
                        <div class="col-lg-1 text-style-rso-24 text-center" style="font-size: 22px;">SAVE</div>
                    </div>
                </div>
                {% for student in students %}
                <div class="row mb-3 ms-2 me-2 mt-3" style="background-color: white; border-radius: 6px;">
                    <div class="d-flex align-items-center py-2">
                        <div class="col-lg-2 text-truncate text-style-ro-18b pe-4" id="position">{{student.position}}</div>
                        <div class="col-lg-3 text-center text-style-ro-18b" id="specialization">{{student.specialisation}}</div>
                        <div class="col-lg-2 text-center text-style-ro-18b" id="nationality">{{student.nationality}}</div>
                        <div class="col-lg-2 text-center text-style-ro-18b" style="color: #FF6B2C;" id="age">25</div>
                        <div class="col-lg-2 text-center pe-4">
                            <button class="connect-button" style="border: none; background-color: #FF6B2C; color: white; border-radius: 5px; font-size: 10px;">|</button>
                        </div>
                        <div class="col-lg-1 text-center">
                            <button style="border: none; background-color: white;">
                                <i class="fa-regular fa-circle-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        
    </div>
</div>
<div class="pop-up-box container-fluid justify-content-center">
    <div class="overlay row d-flex"></div>
    <div class="pop-up-body col-lg-8">
        <div class="pop-up-inner-body">
            <div class="row">
                <div class="d-flex">
                    <div class="col-lg-5">
                        <div class="">
                            <div class="d-flex justify-content-start mb-3">
                                <div class="col-lg-7 align-middle text-style-rso-22">POSITION</div>
                                <div id="pop-up-position" class="text-truncate col-lg-5 text-style-ro-16b" style="line-height: 28px!important;"></div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="col-lg-7 text-style-rso-22">SPECIALIZATION</div>
                                <div id="pop-up-specialization" class="col-lg-5 text-style-ro-16b" style="line-height: 28px!important;"></div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="col-lg-7 text-style-rso-22">COUNTRY</div>
                                <div id="pop-up-nationality" class="col-lg-5 text-style-ro-16b" style="line-height: 28px!important;"></div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="col-lg-7 text-style-rso-22">AGE</div>
                                <div id="pop-up-age" class="col-lg-5 text-style-ro-16b" style="line-height: 28px!important;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 ps-4">
                        <div class="d-flex mb-2">
                            <div class="col-lg-6 align-middle text-style-rso-22">
                                RELEVANT EXPERIENCE
                            </div>
                            <div class="col-lg-6 align-middle text-style-ro-16b" style="line-height: 28px!important;">
                                <span class="align-middle text-style-qs-16" style="line-height: 28px; vertical-align: middle; border: 0px;">VERIFIED AT FS ALPE ADRIA</span> <span style="font-size: 12px!important; line-height: 28px; vertical-align: middle; border: 0px;">&#x2705</span>
                            </div>
                        </div>
                        <div>
                            <ul class="text-style-ro-16">
                                <li>Hybrid design – combination of monocoque and steel frame</li>
                                <li>CFRP monocoque (prepreg + autoclave), aluminium honeycomb</li>
                                <li>8 mm lower centre of gravity</li>
                                <li>Ergonomic design</li>
                                <li>Powertrain in CRMo space frame</li>
                                <li>High chassis stifness and mainenance – heavy design</li>
                            </ul>
                                
                        </div>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <div class="text-style-rso-22">
                        SAVE TO LIBRARY
                    </div>
                    <div>
                        <button style="border: none; background-color: white;">
                            <i class="fa-regular fa-circle-down"></i>
                        </button>
                    </div>
                    <div>
                        <button class="btn text-style-rso-22 px-5" style="background-color: #FD602C; color: white;">
                            CONNECT
                        </button>
                    </div>
                    <div class="text-style-rso-18">
                        300 💰 CREDITS
                    </div>
                    <div>
                        <button class="text-style-ro-16b" style="border: none; background-color: white; color: #FD602C;">
                            Not Interested
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}