{% extends "commons/layout.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}

    <script>
      function uploadFile(target) {
    document.getElementById("file-name").innerHTML = target.files[0].name;
}
    </script>
    
{% endblock %}

{% block body %}

    <div class="d-flex container-fluid align-items-center justify-content-center pt-3 pb-5" style="flex-grow: 1;">
        <div class="col d-flex justify-content-center align-items-center row">
            <div class="col-lg-9 mt-5">
                <div>
                    <div class="text-style-rso-45 ps-5" style="text-align: left;">Send Us A Message</div>
                    <div class="light-grey-box row d-flex pt-5 ps-5 pe-5">
                      
                        <div class="col-lg-7 pe-4">
                          <img class="img-fluid" src="{% static 'images/send_message.webp' %}">
                          <div class="text-style-ro-35b mt-5" style="text-align: center;">
                            "To listen closely and reply well is the highest perfection we are able to attain in the art of conversation"
                          </div>
                        </div>
                        <div class="col-lg-5">
                          <div class="col ps-4">
                            <div class="text-style-rso-24 mb-3">SEND US YOUR QUESTION BELOW</div>
                            <form method="POST">
                              {% csrf_token %}

                              {% for field in email_form %}

                                {% if field.label != 'Attachement' %}
                                    
                                <label class="text-style-ro-16b mb-2 ms-2">{{field.label}}</label>
                                {{ field }}

                                {% else %}

                                <div class="d-flex align-items-center">
                                <label class="text-style-ro-16b ms-2 me-5">{{field.label}}</label>
                                <div class="text-style-ro-16b">{{ field }}</div>
                                </div>

                                <div class="d-flex align-items-center">
                                  <label class="d-flex text-style-ro-16b align-items-center ms-2" style="width: 100%;">{{field.label}}
                                    <i class="fa-solid fa-paperclip fa-xl ms-5 me-2"></i>
                                    <div id="file-name" class="text-style-ro-16 align-middle ps-2 ms-5 file-box" style="background-color: #E4D8D8; border: 1px solid #E4D8D8; width: 100%; height: 26px; border-radius: 6px; line-height: 26px !important; display: flex; align-items: center;"></div>
                                    <div class="text-style-ro-16b" style="display: none;">{{ field }}</div>
                                  </div>
                                  </label>
                                  <!-- <div class="text-style-ro-16b" style="display: none;">{{ field }}</div>
                                  </div> -->
                                {% endif %}
                                  
                                  
                              {% endfor %}
                              

                              <div class="text-style-ro-16 mt-4">
                                You will get an automatic reply if your request ticket has been received.
                              </div>
                            
                              <button type="submit" class="orange-button text-style-ro-16b mt-4 mb-5"
                                      style="height: 48px; color: white;">
                                  Send
                              </button>
                            </form>
                          </div>
                        </div>

                      
                  
                        
                    </div>
                </div>
            
                
            </div>
            
        </div>
    </div>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Email Attachment - Django and Python</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5 mb-3">Django Email Attachment</h1>

          {% if error_message %}
          <div class="alert alert-primary" role="alert">
            {{error_message}}
          </div>
          {% endif %}

          {% if email_form %}
          <form method="POST" action ="" enctype="multipart/form-data">
            {% csrf_token %}
            {{email_form|crispy}}
          <button type="submit" class="btn btn-primary">Send Email</button>
          </form>
          {% endif %}

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html> -->